{% extends "dashboard/settings/index.html.twig" %}

{% block title %}Security - Settings - ReadTheVoice
{% endblock %}

{% block dashboardSettingsContent %}

	<ul class="nav nav-underline">
		<li class="nav-item">
			<a class="nav-link" href="{{ path("app_dashboard_settings_profile") }}">Profile</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="{{ path("app_dashboard_settings_security") }}">Login & Security</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path("app_dashboard_settings_other") }}">Other</a>
		</li>
	</ul>
	<div class="row p-3 pt-4 mt-4">
		<div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
			<h2 class="mb-2 p-3">Update your login</h2>

			<svg xmlns="http://www.w3.org/2000/svg" class="d-flex justify-content-center align-items-center settings-svg" height="290px" viewbox="0 0 870 520.139">
				<path fill="#f2f2f2" d="M666.092 514.257c-11.138-9.412-17.904-24.28-16.13-38.754s12.764-27.78 27.019-30.854 30.504 5.435 34.834 19.36c2.383-26.847 5.128-54.818 19.402-77.68 12.924-20.701 35.308-35.514 59.568-38.164s49.803 7.359 64.933 26.507 18.835 46.986 8.238 68.97c-7.806 16.194-22.188 28.246-37.257 38.051a240.452 240.452 0 0 1-164.453 35.977Z"/>
				<path fill="#fff" d="M831.728 356.079a393.414 393.414 0 0 0-54.826 54.442 394.561 394.561 0 0 0-61.752 103.194c-1.112 2.725 3.312 3.911 4.412 1.217a392.342 392.342 0 0 1 115.401-155.618c2.285-1.86-.97-5.08-3.235-3.235Z"/>
				<path fill="#f2f2f2" d="M280.067 511.7c15.299-12.928 24.591-33.349 22.154-53.229s-17.53-38.156-37.11-42.377-41.897 7.464-47.844 26.59c-3.272-36.874-7.044-75.292-26.648-106.693-17.751-28.433-48.497-48.778-81.818-52.418S40.397 293.68 19.616 319.98s-25.87 64.535-11.315 94.73c10.722 22.242 30.476 38.796 51.172 52.263 66.03 42.966 147.94 60.885 225.878 49.415"/>
				<path fill="#fff" d="M52.567 294.442a540.355 540.355 0 0 1 75.304 74.777 548.076 548.076 0 0 1 59.386 87.89 545.835 545.835 0 0 1 25.43 53.847c1.527 3.742-4.55 5.371-6.06 1.67a536.36 536.36 0 0 0-49.01-92.727 539.734 539.734 0 0 0-65.728-81.198 538.44 538.44 0 0 0-43.766-39.815c-3.138-2.555 1.332-6.978 4.444-4.444Z"/>
				<path fill="#f2f2f2" d="M624.5 519h-365V144.5C259.5 64.822 324.322 0 404 0h76c79.678 0 144.5 64.822 144.5 144.5Z"/>
				<path fill="#ccc" d="M548.5 519h-289V144.5a143.382 143.382 0 0 1 27.596-84.944c.663-.905 1.326-1.798 2.008-2.681a144.466 144.466 0 0 1 30.755-29.851c.66-.48 1.322-.952 1.994-1.423a144.16 144.16 0 0 1 31.472-16.46c.66-.25 1.334-.5 2.007-.742a144.02 144.02 0 0 1 31.108-7.336c.658-.09 1.333-.16 2.008-.23a146.288 146.288 0 0 1 31.106 0c.673.07 1.348.14 2.014.231a143.995 143.995 0 0 1 31.1 7.335c.673.241 1.346.492 2.009.743a143.8 143.8 0 0 1 31.106 16.216c.672.461 1.344.933 2.007 1.405a145.987 145.987 0 0 1 18.383 15.564 144.305 144.305 0 0 1 12.725 14.55c.68.88 1.342 1.774 2.005 2.677A143.382 143.382 0 0 1 548.5 144.5Z"/>
				<circle cx="525" cy="335.5" r="16" fill="#172236"/>
				<path fill="#ffb8b8" d="M594.599 507.783h-12.26l-5.833-47.288 18.095.001-.002 47.287z"/>
				<path fill="#2f2e41" d="M573.582 504.28h23.643v14.887h-38.53a14.887 14.887 0 0 1 14.887-14.887Z"/>
				<path fill="#ffb8b8" d="M655.599 507.783h-12.26l-5.833-47.288 18.095.001-.002 47.287z"/>
				<path fill="#2f2e41" d="M634.582 504.28h23.643v14.887h-38.53a14.887 14.887 0 0 1 14.887-14.887Z"/>
				<path fill="#ffb8b8" d="M533.098 338.67a10.743 10.743 0 0 1 4.51-15.843l41.676-114.867 20.507 11.191-47.585 109.771a10.8 10.8 0 0 1-19.108 9.748ZM649.336 360.254a10.743 10.743 0 0 1-2.893-16.217l-12.91-121.51 23.337 1.067 5.366 119.52a10.8 10.8 0 0 1-12.9 17.14Z"/>
				<circle cx="612.106" cy="162.123" r="24.561" fill="#ffb8b8"/>
				<path fill="#172236" d="M649.18 332.619h-74.047l.089-.577c.133-.86 13.197-86.439 3.562-114.436a11.813 11.813 0 0 1 6.069-14.583c13.772-6.485 40.208-14.471 62.52 4.91a28.234 28.234 0 0 1 9.46 23.395Z"/>
				<path fill="#172236" d="m589.354 258.25-33.336-6.763 15.626-37.03a13.997 13.997 0 0 1 27.106 6.998ZM632.05 270.808l-2.004-45.941c-1.52-8.637 3.424-16.8 11.028-18.135 7.605-1.33 15.031 4.66 16.558 13.36l7.533 42.928Z"/>
				<path fill="#2f2e41" d="M646.716 327.119c11.915 45.376 13.214 103.069 10 166l-16-2-29-120-16 122-18-1c-5.377-66.03-10.613-122.716-2-160ZM628.29 181.104c-4.583 4.88-13.092 2.26-13.69-4.407a8.055 8.055 0 0 1 .01-1.556c.31-2.953 2.015-5.635 1.607-8.753a4.59 4.59 0 0 0-.84-2.15c-3.652-4.889-12.223 2.187-15.669-2.239-2.113-2.714.371-6.987-1.25-10.02-2.14-4.004-8.479-2.029-12.454-4.221-4.423-2.44-4.158-9.226-1.247-13.353 3.55-5.034 9.776-7.72 15.923-8.107s12.253 1.275 17.993 3.512c6.52 2.541 12.987 6.053 17 11.787 4.88 6.974 5.35 16.348 2.91 24.502-1.485 4.96-6.552 11.02-10.294 15.005Z"/>
				<path fill="#3f3d56" d="M839.982 519.643H101.688a1.19 1.19 0 0 1 0-2.38h738.294a1.19 1.19 0 0 1 0 2.38Z"/>
				<path fill="#fff" d="M469 410.5H339a6.465 6.465 0 0 1-6.5-6.415v-290.17a6.465 6.465 0 0 1 6.5-6.415h130a6.465 6.465 0 0 1 6.5 6.415v290.17a6.465 6.465 0 0 1-6.5 6.415Z"/>
				<path fill="#ccc" d="M332.5 201.39h143v2h-143zM333 315.5h143v2H333z"/>
				<path fill="#ccc" d="M377.5 107.5h2v304h-2zM427.5 107.5h2v304h-2z"/>
			</svg>


			<form action="{{ path("app_dashboard_settings_email") }}" method="POST" class="mt-2 w-100">
				{% for message in app.flashes("email_update_error") %}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						{{ message }}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endfor %}
				{% for message in app.flashes("email_update_success") %}
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						{{ message }}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endfor %}
				<div class="form-floating mb-3 pb-1">
					<input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" value="{{ email }}" required>
					<label for="email">E-mail address</label>
				</div>

				<input type="hidden" name="token" value="{{ csrf_token("updateEmail") }}">
				<a class="btn btn-primary btn-lg py-2 w-100" data-bs-toggle="modal" data-bs-target="#updateEmailModal">Update my e-mail</a>

				<div class="modal fade" tabindex="-1" id="updateEmailModal">
					<div class="modal-dialog" role="document">
						<div class="modal-content rounded-3 shadow">
							<div class="modal-body p-4 text-center">
								<h5 class="mb-0" id="updateEmailModalLabel">Are you sure you want to update your e-mail address?</h5>
								<p class="mb-0">You will be disconnected and you must click on a validation link that you will receive in an e-mail to your new e-mail address.</p>
							</div>
							<div class="modal-footer flex-nowrap p-0">
								<input class="btn btn-lg btn-secondary fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 fw-bold border-end" type="submit" value="Update my e-mail" data-bs-dismiss="modal"></input>
							<button type="button" class="btn btn-lg fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-4 d-flex flex-column align-self-center justify-content-center align-items-center">

		<h2 class="mb-2 p-3">Update your password</h2>
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 493.461 480.848" class="d-flex justify-content-center align-items-center settings-svg" height="350px">
			<path fill="#f2f2f2" d="M314.737 107.789h-26.256v223.846a26.744 26.744 0 0 1-26.744 26.744H61v.256a26.744 26.744 0 0 0 26.744 26.744h226.993a26.744 26.744 0 0 0 26.744-26.744V134.533a26.744 26.744 0 0 0-26.744-26.744ZM439.202 463.515a2.27 2.27 0 0 0 1.645-3.933l-.156-.618.062-.149a6.094 6.094 0 0 1 11.242.042c1.838 4.428 4.179 8.864 4.755 13.546a18.029 18.029 0 0 1-.316 6.2 72.281 72.281 0 0 0 6.575-30.02 69.764 69.764 0 0 0-.433-7.783q-.358-3.178-.994-6.31a73.119 73.119 0 0 0-14.5-30.99 19.459 19.459 0 0 1-8.093-8.397 14.843 14.843 0 0 1-1.35-4.056c.394.052 1.485-5.949 1.188-6.317.55-.833 1.532-1.247 2.131-2.06 2.983-4.043 7.092-3.337 9.237 2.157 4.582 2.313 4.626 6.148 1.815 9.837-1.79 2.347-2.035 5.522-3.604 8.035.161.207.329.407.49.614a73.591 73.591 0 0 1 7.681 12.168 30.593 30.593 0 0 1 1.827-14.21c1.748-4.217 5.025-7.769 7.91-11.414a6.28 6.28 0 0 1 11.184 3.083q.01.08.018.161-.643.363-1.259.77a3.078 3.078 0 0 0 1.241 5.602l.063.01a30.627 30.627 0 0 1-.808 4.579c3.702 14.316-4.29 19.53-15.701 19.764-.252.13-.497.258-.75.381a75.114 75.114 0 0 1 4.044 19.028 71.243 71.243 0 0 1-.052 11.503l.02-.136a18.826 18.826 0 0 1 6.426-10.87c4.946-4.063 11.933-5.559 17.269-8.824a3.533 3.533 0 0 1 5.41 3.437l-.021.143a20.677 20.677 0 0 0-2.319 1.117q-.643.363-1.258.77a3.078 3.078 0 0 0 1.24 5.602l.063.01.13.019a30.654 30.654 0 0 1-5.639 8.829c-2.315 12.497-12.256 13.683-22.89 10.043h-.007a75.093 75.093 0 0 1-5.044 14.727h-18.02c-.065-.2-.123-.407-.181-.607a20.474 20.474 0 0 0 4.986-.297c-1.337-1.641-2.674-3.295-4.01-4.935a1.12 1.12 0 0 1-.085-.097c-.678-.84-1.363-1.673-2.04-2.512l-.001-.001a29.99 29.99 0 0 1 .879-7.64Z"/>
			<path fill="#a0616a" d="M240.724 77.34a8.246 8.246 0 0 0 12.466 1.525l37.465 16.903 7.223-9.213-44.644-19.75a8.235 8.235 0 0 0-12.51 10.534Z"/>
			<path fill="#172236" d="m401.508 87.88 3.716 21.056a7.155 7.155 0 0 1-6.485 8.376l-63.139 4.965-74.217-33.216 8.865-16.827 64.427 20.402Z"/>
			<rect width="280.481" height="277.59" y="72.789" fill="#f2f2f2" rx="26.744"/>
			<path fill="#fff" d="M26.744 78.289A21.244 21.244 0 0 0 5.5 99.533v224.102a21.244 21.244 0 0 0 21.244 21.244h144.873A103.364 103.364 0 0 0 274.98 241.515V99.533a21.244 21.244 0 0 0-21.244-21.244Z"/>
			<path fill="#f2f2f2" d="M203.696 146.3H76.289a4.408 4.408 0 1 1 0-8.816h127.407a4.408 4.408 0 0 1 0 8.816ZM203.696 240.3H76.289a4.408 4.408 0 1 1 0-8.816h127.407a4.408 4.408 0 0 1 0 8.816ZM255.433 193.33H24.553a4.408 4.408 0 1 1 0-8.815h230.88a4.408 4.408 0 0 1 0 8.816Z"/>
			<path fill="#a0616a" d="m393.531 180.687-23 49 88.477-8.961-18.469-47.039-47.008 7zM414.101 462.32l-8.389-.071-3.713-33.111 12.38.105-.278 33.077z"/>
			<path fill="#2f2e41" d="M387.23 475.66a3.755 3.755 0 0 0 3.72 3.782l16.678.14 2.92-5.919 1.072 5.949 6.293.057-1.589-21.217-2.19-.146-8.93-.615-2.881-.193-.05 6.003-13.399 9.087a3.75 3.75 0 0 0-1.643 3.071Z"/>
			<path fill="#a0616a" d="m321.266 462.358-7.998-2.533 6.179-32.74 11.804 3.737-9.985 31.536z"/>
			<path fill="#2f2e41" d="M291.663 467.214a3.755 3.755 0 0 0 2.442 4.708l15.902 5.034 4.53-4.8-.723 6.002 5.999 1.903 4.715-20.747-2.05-.782-8.356-3.213-2.697-1.03-1.813 5.722-15.476 4.75a3.749 3.749 0 0 0-2.473 2.453ZM454.978 206.946l-80.447 14.741s-12.903 9.652-9.451 13.109 3.987 2.921 1.72 5.189-7.172 5.299-7.22 7.283-36.049 90.984-36.049 90.984 4-2 1 1-3 5.48-3 5.48l-14 94.52 22.737 1.34 22.263-86.174 49.66-80.504s4.927 71.789 5.134 76.564 3.206-1.226.206 4.774-5 2-3 6-7.204 85.435-7.204 85.435h20.753l44.51-168.791s15.836-48.256-7.612-70.95Z"/>
			<path fill="#172236" d="m431.28 71.935-32.225-3.349-8.35 10.84-9.725 5.18a24.275 24.275 0 0 0-12.815 22.962l11.366 66.12s-9.6 21.618-3 27-5.103 18.706 9 12 75 1 75 1l-13-37 9.712-36.358 1.069-30.486a25.826 25.826 0 0 0-18.34-25.627l-1.358-.41Z"/>
			<path fill="#2f2e41" d="M475.644 47.23c.211 9.083-3.183 17.878-8.06 25.603-1.449-4.51-4.053-8.614-6.77-12.527a38.995 38.995 0 0 1-4.15 24.696 5.224 5.224 0 0 1-.444.285c-3.975 2.39-9.014 3.36-13.314 1.632 8.884-9.576 10.015-25.444 2.566-36.185-2.109-3.048-4.836-5.744-6.142-9.213-2.062-5.534-.08-11.628 1.17-17.398 1.17-5.37 1.375-11.762-2.228-15.697a3.786 3.786 0 0 1 3.47-1.598c2.221.314 3.838 2.245 4.868 4.233 1.03 1.989 1.71 4.193 3.144 5.91 2.658 3.216 7.184 3.976 10.999 5.67 9.238 4.115 14.67 14.482 14.891 24.59Z"/>
			<path fill="#ccc" d="M237.65 479.658a1.186 1.186 0 0 0 1.191 1.19h253.29a1.19 1.19 0 0 0 0-2.38h-253.29a1.187 1.187 0 0 0-1.19 1.19Z"/>
			<circle cx="477.638" cy="248.748" r="9" fill="#172236"/>
			<path fill="#2f2e41" d="M397.886 42.037c.528-1.848-3.11 9.446-1.355 9.65 7.997.917 18.974 5.693 24.544 7.921.25-.029.501-.058.745-.094.597-.066 1.18-.16 1.756-.27 12.968-2.453 17.955-22.375 17.955-22.557 0-.895-2.149-25.493-5.535-25.857a24.957 24.957 0 0 0-2.678-.146h-8.402a39.048 39.048 0 0 0-5.275-.764h-.014c-16.916-1.289-30.253 9.021-29.007 21.567.008.014.023.029.03.043.361.54.679 1.049.959 1.537.273.458.502.895.7 1.31 1.543 3.204-2.42 7.235.207 7.988 3.495 1-9.192 33.893 4.642 33.893-6.73 1.913-.728-29.124.728-34.221Z"/>
			<circle cx="412.986" cy="41.443" r="19.894" fill="#a0616a"/>
			<path fill="#2f2e41" d="M390.62 32.571c.332.175.657.335.989.496.347.167.693.334 1.04.487 6.662 3.022 12.084 3.357 15.374-.983a18.392 18.392 0 0 1 1.512-6.625 10.65 10.65 0 0 0 1.756 6.625h6.624c6.824 4.53 10.328 5.003 5.592 19.87-1.32 4.144-6.571 28.251-4.506 31.826.598-.065 6.955-26.47 7.53-26.58 12.969-2.454 21.209-23.82 20.154-25.028a22.275 22.275 0 0 0-2.309-9.91 22.793 22.793 0 0 0-8.66-9.422 40.166 40.166 0 0 0-6.92-2.599c-.059-.014-.11-.029-.17-.044a37.833 37.833 0 0 0-2.22-.531 40.842 40.842 0 0 0-4.662-.706c-.111-.008-.222-.015-.325-.015a3.513 3.513 0 0 0-1.778.488c-.007 0-.007.007-.014.007a3.347 3.347 0 0 0-.989.881 3.386 3.386 0 0 0-.723 2.104h-7.377q-.41 0-.819.022a19.78 19.78 0 0 0-19.07 18.596c-.021.35-.029.692-.029 1.041Z"/>
			<circle cx="434.117" cy="13.106" r="13.106" fill="#2f2e41"/>
			<path fill="#a0616a" d="M477.74 252.459a8.246 8.246 0 0 0-3.717-11.996l.065-41.102-11.365-2.813.28 48.818a8.235 8.235 0 0 0 14.736 7.093Z"/>
			<path fill="#172236" d="m421.464 101.477 17.684-12.018a7.155 7.155 0 0 1 10.298 2.483l30.403 55.558.117 81.31-18.982-1.19-7.793-67.129Z"/>
			<path fill="#fff" d="M285.646 285.878h-189a15.5 15.5 0 0 0 0 31h189a15.5 15.5 0 1 0 0-31Z"/>
			<path fill="#172236" d="M285.646 317.878h-189a16.5 16.5 0 0 1 0-33h189a16.5 16.5 0 1 1 0 33Zm-189-31a14.5 14.5 0 0 0 0 29h189a14.5 14.5 0 1 0 0-29ZM296.79 353.52h-83.406a4.408 4.408 0 1 1 0-8.816h83.406a4.408 4.408 0 0 1 0 8.816Z"/>
		</svg>

		<form action="{{ path("app_dashboard_settings_password") }}" method="POST" class="mt-2 w-100">
			{% for message in app.flashes("reset_password_error") %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}

			{% for message in app.flashes("reset_password_success") %}
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
			<div class="form-floating mb-3 pb-1">
				<input type="hidden" id="email" name="email" placeholder="name@example.com" value="{{ email }}">
			</div>
			<input type="hidden" name="token" value="{{ csrf_token("resetUserPassword") }}">
			<a class="btn btn-primary btn-lg w-100 py-2" data-bs-toggle="modal" data-bs-target="#updateUserPasswordModal">Update my password</a>

			<div class="modal fade" tabindex="-1" id="updateUserPasswordModal">
				<div class="modal-dialog" role="document">
					<div class="modal-content rounded-3 shadow">
						<div class="modal-body p-4 text-center">
							<h5 class="mb-0" id="updateUserPasswordLabel">Important information about updating your password</h5>
							<p class="mb-0">You will receive a link by e-mail to reset your password.</p>
						</div>
						<div class="modal-footer flex-nowrap p-0">
							<input class="btn btn-lg btn-secondary fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 fw-bold border-end" type="submit" value="Okay" data-bs-dismiss="modal"></input>
						<button type="button" class="btn btn-lg fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="col-md-4 d-flex flex-column align-self-center justify-content-center align-items-center">

	<h2 class="mb-2 p-3">Disconnect other sessions</h2>

	<svg xmlns="http://www.w3.org/2000/svg" class="d-flex justify-content-center align-items-center settings-svg mb-2" height="370px" viewbox="0 0 888 677.207">
		<path fill="#ffb8b8" d="m307.693 659.535 8.724 2.613 14.231-32.408-12.876-3.856-10.079 33.651z"/>
		<path fill="#2f2e41" d="m306.32 656.02 17.182 5.146a11.43 11.43 0 0 1 7.67 14.23l-.107.355-28.13-8.426Z"/>
		<path fill="#ffb8b8" d="m390.602 666.663 8.551-3.135-8.023-34.473-12.62 4.627 12.092 32.981z"/>
		<path fill="#2f2e41" d="m387.398 664.67 16.84-6.173a11.43 11.43 0 0 1 14.666 6.796l.127.35-27.57 10.108ZM322.321 600.868l-14.857 49.029 17.828 5.2 17.086-45.315-20.057-8.914zM369.121 612.011l13.372 46.057 18.571-8.914-13.371-43.086-18.572 5.943z"/>
		<path fill="#3f3d56" d="M362.162 620.318a203.98 203.98 0 0 1-35.457-3.27l-.298-.06v-11.33l-6.79-.755 5.3-18.928c-2.47-29.16 1.04-66.09 2.175-76.719.26-2.492.432-3.891.432-3.891l5.958-50.65 9.97-9.203 4.53 2.948 8.402 8.401c9.766 24.035 17.515 46.661 17.564 48.115l32.751 104.953-.22.156c-11.373 8.028-28.709 10.233-44.317 10.233Z"/>
		<path d="m337.708 477.181-2.29 14.294 15.503 6.395-13.213-20.689z" opacity=".2"/>
		<path fill="#2f2e41" d="M368.128 445.438h-35.844a2.784 2.784 0 0 1-2.78-2.781v-15.45a20.703 20.703 0 0 1 41.405 0v15.45a2.784 2.784 0 0 1-2.78 2.78Z"/>
		<circle cx="354.164" cy="429.328" r="15.179" fill="#ffb8b8"/>
		<path fill="#2f2e41" d="M375.807 428.752h-21.918l-.224-3.147-1.124 3.147h-3.375l-.445-6.237-2.228 6.237h-6.53v-.31a16.395 16.395 0 0 1 16.377-16.376h3.09a16.395 16.395 0 0 1 16.377 16.377Z"/>
		<path fill="#2f2e41" d="M353.71 448.322a2.84 2.84 0 0 1-.492-.044l-16.05-2.832v-26.524h17.668l-.438.51c-6.085 7.097-1.5 18.606 1.774 24.834a2.74 2.74 0 0 1-.218 2.909 2.77 2.77 0 0 1-2.244 1.147Z"/>
		<path fill="#172236" d="M382.029 512.433h-8.798a1.131 1.131 0 0 1-1.13-1.025l-1.76-18.049h14.578l-1.76 18.049a1.131 1.131 0 0 1-1.13 1.025Z"/>
		<path fill="#2f2e41" d="M384.896 495.63h-14.532a1.137 1.137 0 0 1-1.136-1.135v-2.725a1.137 1.137 0 0 1 1.136-1.135h14.532a1.137 1.137 0 0 1 1.136 1.135v2.725a1.137 1.137 0 0 1-1.136 1.135Z"/>
		<path d="M327.892 504.667a27.881 27.881 0 0 0 33.468 6.765l3.304-1.635Z" opacity=".2"/>
		<path fill="#ffb8b8" d="M380.71 501.173a6.966 6.966 0 0 0-10.676.322l-15.325-4.302-4.886 8.676 21.728 5.772a7.004 7.004 0 0 0 9.16-10.468Z"/>
		<path fill="#3f3d56" d="M344.139 510.8c-7.287.002-17.146-4.27-28.85-12.545a5.73 5.73 0 0 1-2.413-3.928c-.863-5.469 4.472-12.863 4.995-13.572l5.608-15.4c.065-.25 1.872-6.914 6.409-9.284a7.438 7.438 0 0 1 6.214-.265c8.642 3.147 1.894 27.448.967 30.635l11.45 5.39 7.272 4.634 9.957 1.042-2.703 12.512-15.123.34a15.434 15.434 0 0 1-3.783.442Z"/>
		<path fill="#e6e6e6" d="M887.675 396.66a98.58 98.58 0 1 0-189.221 38.809c-.096-.108-.196-.212-.292-.32a98.666 98.666 0 0 0 17.954 27.783l.068.074c.606.66 1.215 1.316 1.838 1.96a98.28 98.28 0 0 0 69.53 30.253l-3.332 180.93h10.292l-2.083-119.416 14.887-7.838-2.271-4.313-12.711 6.692-.978-56.064a98.578 98.578 0 0 0 96.319-98.55ZM595.087 348.612a115.526 115.526 0 1 0-221.75 45.48c-.113-.125-.23-.247-.342-.373a115.628 115.628 0 0 0 21.041 32.559l.08.086c.71.773 1.423 1.543 2.153 2.297a115.176 115.176 0 0 0 81.483 35.454l-3.904 212.033h12.06l-2.44-139.944 17.445-9.185-2.661-5.055-14.896 7.842-1.146-65.701a115.525 115.525 0 0 0 112.877-115.493ZM263.259 303.418a131.467 131.467 0 1 0-252.347 51.757c-.129-.143-.261-.282-.39-.426a131.582 131.582 0 0 0 23.945 37.052l.09.098c.808.88 1.62 1.756 2.451 2.614a131.068 131.068 0 0 0 92.725 40.346l-4.442 241.29h13.725l-2.778-159.254 19.853-10.453-3.029-5.752-16.951 8.924-1.304-74.767a131.465 131.465 0 0 0 128.452-131.429Z"/>
		<circle cx="756.685" cy="85.976" r="85.976" fill="#ff6584"/>
		<circle cx="245.559" cy="187.616" r="172.312" fill="#172236"/>
		<path d="M274.33 183.922a172.325 172.325 0 0 0 287.122 182.37 172.327 172.327 0 1 1-287.123-182.37Z" opacity=".2" style="isolation:isolate" transform="translate(-156 -111.396)"/>
		<path fill="#3f3d56" d="M246.032 187.616h.474l8.521 488.532h-17.989l8.994-488.532z"/>
		<path fill="#3f3d56" d="m244.953 461.173 28.484-14.996 3.97 7.54-28.484 14.996zM509.115 671.579s.622-13.027 13.367-11.513"/>
		<circle cx="505.514" cy="652.803" r="6.379" fill="#172236"/>
		<path fill="#3f3d56" d="M504.476 663.545h1.801v12.604h-1.801zM67.083 669.778s.622-13.027 13.366-11.513"/>
		<circle cx="63.482" cy="651.003" r="6.379" fill="#172236"/>
		<path fill="#3f3d56" d="M62.444 661.744h1.801v12.604h-1.801zM171.514 670.678s.622-13.027 13.367-11.512"/>
		<circle cx="167.913" cy="651.903" r="6.379" fill="#172236"/>
		<path fill="#3f3d56" d="M166.875 662.644h1.801v12.604h-1.801zM449.243 83.299l12.795-10.234c-9.94-1.097-14.024 4.324-15.695 8.615-7.765-3.224-16.219 1.001-16.219 1.001l25.6 9.294a19.372 19.372 0 0 0-6.48-8.676ZM643.827 187.54l12.795-10.234c-9.94-1.096-14.024 4.325-15.695 8.615-7.766-3.224-16.22 1.002-16.22 1.002l25.6 9.293a19.372 19.372 0 0 0-6.48-8.676ZM433.955 276.492l12.794-10.233c-9.94-1.097-14.023 4.324-15.695 8.615-7.765-3.225-16.219 1.001-16.219 1.001l25.6 9.294a19.372 19.372 0 0 0-6.48-8.677ZM683.655 676.307s.622-13.027 13.367-11.513M563.92 676.307s.621-13.027 13.366-11.513M127.289 676.307s.621-13.027 13.366-11.513M737.671 676.307s.622-13.027 13.367-11.513M712.464 676.307s.622-13.027 13.366-11.513M660.465 676.307s-.622-13.027-13.366-11.513M453.403 676.307s-.622-13.027-13.366-11.513M281.452 676.307s-.622-13.027-13.367-11.513M98.697 676.307s-.622-13.027-13.367-11.513M791.904 676.307s-.621-13.027-13.366-11.513"/>
		<path fill="#3f3d56" d="M714.481 677.207s-.622-13.027-13.366-11.513"/>
		<path fill="#3f3d56" d="M0 674.604h888v2H0z"/>
	</svg>


	{% for message in app.flashes("logout_other_sessions_error") %}
		<div class="alert alert-danger alert-dismissible fade show w-100" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}

	{% for message in app.flashes("logout_other_sessions_success") %}
		<div class="alert alert-success alert-dismissible fade show w-100" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}

	<a class="btn btn-primary btn-lg w-100 py-2" href="{{ path("app_dashboard_settings_disconnect") }}">Disconnect other sessions</a>
</div></div>{% endblock %}
