<!DOCTYPE html>
<html lang="en" hx-boost="true" hx-indicator="#spinner">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicon-16x16.png') }}" />
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/favicon-32x32.png') }}" />
		<meta name="application-name" content="ReadTheVoice" />
		<meta name="apple-mobile-web-app-title" content="ReadTheVoice" />
		<meta name="theme-color" content="#ffffff" />
		<link rel="manifest" href="{{ asset('manifest.webmanifest') }}" />
		<link rel="icon" type="image/png" sizes="36x36" href="{{ asset('build/images/android-chrome-36x36.png') }}" />
		<link rel="icon" type="image/png" sizes="48x48" href="{{ asset('build/images/android-chrome-48x48.png') }}" />
		<link rel="icon" type="image/png" sizes="72x72" href="{{ asset('build/images/android-chrome-72x72.png') }}" />
		<link rel="icon" type="image/png" sizes="96x96" href="{{ asset('build/images/favicon-96x96.png') }}" />
		<link rel="icon" type="image/png" sizes="144x144" href="{{ asset('build/images/android-chrome-144x144.png') }}" />
		<link rel="icon" type="image/png" sizes="192x192" href="{{ asset('build/images/android-chrome-192x192.png') }}" />
		<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/images/apple-touch-icon.png') }}">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ asset('build/images/apple-touch-icon-60x60.png') }}" />
		<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('build/images/apple-touch-icon-72x72.png') }}" />
		<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('build/images/apple-touch-icon-76x76.png') }}" />
		<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('build/images/apple-touch-icon-114x114.png') }}" />
		<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('build/images/apple-touch-icon-120x120.png') }}" />
		<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('build/images/apple-touch-icon-152x152.png') }}" />
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/apple-touch-icon-180x180.png') }}" />
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
