{% extends "dashboard/index.html.twig" %}

{% block title %}
	{{ meeting.name }}
	- ReadTheVoice
{% endblock %}

{% block dashboardContent %}
	<div class="p-3">
		<div class="d-flex flex-row align-items-center">
			<div>
				<h1>Transcriptions</h1>
				<div class="d-flex flex-row align-items-center gap-2">
					<a href="{{ path('app_dashboard_transcriptions') }}">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="d-flex bi bi-arrow-left-circle-fill" viewbox="0 0 16 16">
							<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/></svg>
					</a>
					<h2>{{ meeting.name }}</h2>
				</div>
			</div>
			<div class="d-flex flex-row gap-2 ms-auto mt-auto">
				<button class="d-flex align-items-center gap-1 btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#{{ meeting.id|trim('1234567890', 'left')|lower }}-about-modal">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewbox="0 0 16 16">
						<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
						<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
					</svg>
					About
				</button>
				<button class="d-flex align-items-center gap-1 btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#{{ meeting.id|trim('1234567890', 'left')|lower }}-qrcode-modal">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-qr-code" viewbox="0 0 16 16">
						<path d="M2 2h2v2H2z"/>
						<path d="M6 0v6H0V0zM5 1H1v4h4zM4 12H2v2h2z"/>
						<path d="M6 10v6H0v-6zm-5 1v4h4v-4zm11-9h2v2h-2z"/>
						<path d="M10 0v6h6V0zm5 1v4h-4V1zM8 1V0h1v2H8v2H7V1zm0 5V4h1v2zM6 8V7h1V6h1v2h1V7h5v1h-4v1H7V8zm0 0v1H2V8H1v1H0V7h3v1zm10 1h-1V7h1zm-1 0h-1v2h2v-1h-1zm-4 0h2v1h-1v1h-1zm2 3v-1h-1v1h-1v1H9v1h3v-2zm0 0h3v1h-2v1h-1zm-4-1v1h1v-2H7v1z"/>
						<path d="M7 12h1v3h4v1H7zm9 2v2h-3v-1h2v-1z"/>
					</svg>
					QR Code
				</button>

				<a class="d-flex align-items-center gap-1 btn btn-light btn-sm" href="#">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewbox="0 0 16 16">
						<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
					</svg>
					Edit
				</a>
				<button class="d-flex align-items-center gap-1 btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#{{ meeting.id|trim('1234567890', 'left')|lower }}-delete-modal">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewbox="0 0 16 16">
						<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
					</svg>
					Delete
				</button>
				{# <button class="btn btn-light btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
																	<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-list" viewbox="0 0 16 16">
																		<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
																	</svg>
																	Menu
																</button>
																<ul class="dropdown-menu">
																	<li>
																		<button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#{{ meeting.id|trim('1234567890', 'left')|lower }}-qrcode-modal">
																			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-qr-code" viewbox="0 0 16 16">
																				<path d="M2 2h2v2H2z"/>
																				<path d="M6 0v6H0V0zM5 1H1v4h4zM4 12H2v2h2z"/>
																				<path d="M6 10v6H0v-6zm-5 1v4h4v-4zm11-9h2v2h-2z"/>
																				<path d="M10 0v6h6V0zm5 1v4h-4V1zM8 1V0h1v2H8v2H7V1zm0 5V4h1v2zM6 8V7h1V6h1v2h1V7h5v1h-4v1H7V8zm0 0v1H2V8H1v1H0V7h3v1zm10 1h-1V7h1zm-1 0h-1v2h2v-1h-1zm-4 0h2v1h-1v1h-1zm2 3v-1h-1v1h-1v1H9v1h3v-2zm0 0h3v1h-2v1h-1zm-4-1v1h1v-2H7v1z"/>
																				<path d="M7 12h1v3h4v1H7zm9 2v2h-3v-1h2v-1z"/>
																			</svg>
																			QR Code</button>
																	</li>
																	<li><hr class="dropdown-divider"></li>
																	<li>
																		<button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#{{ meeting.id|trim('1234567890', 'left')|lower }}-about-modal">
																			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewbox="0 0 16 16">
																				<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
																				<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
																			</svg>
																			About</button>
																	</li>
																	<li><hr class="dropdown-divider"></li>
																	<li>
																		<a class="dropdown-item" href="#">
																			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewbox="0 0 16 16">
																				<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
																			</svg>
																			Edit</a>
																	</li>
																	<li><hr class="dropdown-divider"></li>
																	{% if not meeting.isFinished and meeting.transcript.data %}
																		<li>
																			<button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#{{ meeting.id|trim('1234567890', 'left')|lower }}-end-modal">
																				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stop-circle-fill" viewbox="0 0 16 16">
																					<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.5 5A1.5 1.5 0 0 0 5 6.5v3A1.5 1.5 0 0 0 6.5 11h3A1.5 1.5 0 0 0 11 9.5v-3A1.5 1.5 0 0 0 9.5 5z"/>
																				</svg>
																				End</button>
																		</li>
																		<li><hr class="dropdown-divider"></li>
																	{% endif %}
																	<li>
																		<button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#{{ meeting.id|trim('1234567890', 'left')|lower }}-delete-modal">
																			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewbox="0 0 16 16">
																				<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
																			</svg>
																			Delete</button>
																	</li>
												
																</ul> #}
			</div>
		</div>


		<div class="d-flex flex-column w-100 h-100 mt-2 p-3">
			{% for message in app.flashes("meetings_success") %}
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}

			{% for message in app.flashes("meetings_error") %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
			{% if meeting.transcript.data is empty %}
				<div class="container" id="meeting-transcription">
					<div class="row">
						<div class="col-md-6 d-flex justify-content-center align-items-center">
							<svg xmlns="http://www.w3.org/2000/svg" class="d-flex justify-content-center align-items-center settings-svg" viewbox="0 0 676 676" data-name="Layer 1">
								<path fill="#f2f2f2" d="M676 338a337.453 337.453 0 0 1-17.85 108.68q-1.02 3-2.09 5.98a338.393 338.393 0 0 1-53.77 96.05q-10.32 12.945-21.87 24.82-11.55 11.895-24.25 22.63a336.248 336.248 0 0 1-165.78 75.8h-.01q-11.7 1.815-23.63 2.83-14.205 1.2-28.75 1.21A336.94 336.94 0 0 1 96.09 574.05q-3.315-3.39-6.53-6.88-8.01-8.685-15.41-17.91-4.155-5.19-8.11-10.54a336.714 336.714 0 0 1-40.24-70.98 332.254 332.254 0 0 1-11.7-32.84c-.24-.79-.47-1.58-.7-2.37q-.75-2.55-1.45-5.13A338.38 338.38 0 0 1 0 338C0 151.33 151.33 0 338 0s338 151.33 338 338Z"/>
								<path fill="#2f2e41" d="m430.33 641.02-6.84 24.07a337.63 337.63 0 0 1-33.1 6.87h-.01q-11.7 1.815-23.63 2.83L389 643l3.16-.28Z"/>
								<path fill="#ccc" d="M602.29 548.71q-10.32 12.945-21.87 24.82l-26.38.02-141.87.16-25.54.03-16.98.02-25.26.02-19.43.02-35.89.04-21.17.03-44.58.04-21.28.03-58.97.06-37.04.04-9.94.01q-3.315-3.39-6.53-6.88-8.01-8.685-15.41-17.91l20.58-.02 14.02-.01 32.46-.04 62.64-.06 21.17-.02 8.56-.01h.03l6.72-.01 3.01-.01 7.71-.01h3.26l22.86-.02 49.31-.06 21.7-.02 20.78-.02 19.48-.02 27.95-.03 149.28-.15Z"/>
								<ellipse cx="244.02" cy="558.883" fill="#3f3d56" rx="20.132" ry="6.425"/>
								<ellipse cx="244.02" cy="554.6" fill="#3f3d56" rx="20.132" ry="6.425"/>
								<path fill="#3f3d56" d="m240.48 558.906 3-.045-.827-56.019a52.258 52.258 0 0 1 25.369-45.5l57.259-34.226-1.54-2.575-57.258 34.227a55.265 55.265 0 0 0-26.83 48.12Z"/>
								<rect width="14.564" height="59.969" x="578.513" y="500.401" fill="#172236" rx="7.282" transform="rotate(-180 454.795 474.385)"/>
								<path fill="#a0616a" d="m323.54 317.083 78.525 92.795 66.95 28.659 17.846-34.688c-16.372-19.478-69.79-42.857-69.79-42.857l-72.533-65.06c-.13-.478-.27-.956-.444-1.43a17.231 17.231 0 1 0-20.554 22.581Z"/>
								<path fill="#172236" d="m479.863 393.307-17.32 44.345.017.172c1.726 17.037 28.342 32.812 50.365 43.045a31.596 31.596 0 0 0 40.985-13.455 31.666 31.666 0 0 0-2.023-33.367l-17.486-24.487Z"/>
								<path fill="#172236" d="m580.26 477.29-9.21 33.15-5.38 38.31-1.66 11.78-.04.25-10.23 9.72.3 3.05.8 8.13 1.33 14.48a336.484 336.484 0 0 1-165.78 75.8c-.01.01-.01 0-.01 0-8.17-2.34-14.58-4.88-17.16-6.73-1.02-.72-1.48-1.36-1.46-2.01.11-4.33 12.4-19.87 14.26-22.2l4.88-20.2 9.96-3.96-2.46-14.21 13.32-14.06.38-14.47.07-.41 4.22-24.81 8.42-49.41.86-5.06-.78-39.02-.23-11.82-.27-13.48a55.412 55.412 0 0 1 .76-10.35 53.313 53.313 0 0 1 1.84-7.6 55.245 55.245 0 0 1 27.4-32.29c.51-.26 1.02-.51 1.54-.76 0 0 0-.01.01 0a54.906 54.906 0 0 1 12.55-4.17l1.26-2.24 12.34-21.92 37.82.97 22.56 35.31 18.83 18.69a73.312 73.312 0 0 1 18.96 71.54Z"/>
								<circle cx="497.699" cy="289.85" r="50.104" fill="#a0616a"/>
								<path fill="#2f2e41" d="M491.587 340.624a136.265 136.265 0 0 0 23.18-1.62c7.6-1.546 24.6-14.004 29.34-21.5 3.52-5.57 5.772-14.268 7.04-20.583a60.914 60.914 0 0 0-10.653-48.358 19.245 19.245 0 0 0-7.773-6.635 9.498 9.498 0 0 0-.854-.288 23.745 23.745 0 0 1-11.812-7.308 19.583 19.583 0 0 0-1.964-2.021 29.248 29.248 0 0 0-12.203-6.128c-7.254-1.941-17.752-.014-31.201 5.734-6.758 2.887-14.148 1.842-19.833.61a1.86 1.86 0 0 0-1.751.6 13.132 13.132 0 0 1-8.925 3.557c-2.032.09-4.164 2.903-6.74 6.572-.585.832-1.268 1.804-1.76 2.396l-.066-1.136-1.15 1.267a15.935 15.935 0 0 0 7.195 25.961 31.076 31.076 0 0 0 6.25.996c1.28.115 2.602.234 3.87.454a24.025 24.025 0 0 1 17.853 15.59 6.283 6.283 0 0 0 9.483 3.05 10.38 10.38 0 0 1 9.46-1.722 6.891 6.891 0 0 1 3.045 3.455 8.98 8.98 0 0 0 3.408 3.976c5.15 2.655 5.505 14.417 3.655 24.222-1.783 9.451-5.307 16.288-8.57 16.626-2.512.26-2.8.439-2.981.883l-.163.398.283.372a10.26 10.26 0 0 0 4.337.58Z"/>
								<path fill="#a0616a" d="m459.133 479.124-19.318-38.515c-28.041 1.915-83.695 34.337-83.695 34.337l-105.299 22.326a19.023 19.023 0 1 0 5.187 32.508l133.946-9.602Z"/>
								<path fill="#172236" d="m451.341 485.448 50.454-37.494 8.888-32.027a34.982 34.982 0 0 0-10.522-35.394 34.9 34.9 0 0 0-47.624 1.536c-18.986 18.951-40.641 45.39-35.99 63.723l.047.186Z"/>
								<path fill="#fff" d="M86.48 436.11c-.06.09-.12.18-.19.28a48.046 48.046 0 0 0-6-.01q-1.71.105-3.42.33a7.179 7.179 0 0 0-3.08 13.02l.12.08.25.17a70.53 70.53 0 0 1-48.36 17.76 332.254 332.254 0 0 1-11.7-32.84 43.49 43.49 0 0 1 19.33-10.51c14.5-3.5 30.68.45 45.19-.99 6.98-.69 11.83 6.92 7.86 12.71ZM99.17 324.69c-.04.11-.08.23-.13.35-1.14.07-2.28.19-3.42.34a7.172 7.172 0 0 0-3.08 13.01l.12.09a70.905 70.905 0 0 1-6.34 8.78 73.507 73.507 0 0 1-53.01 25.53c-.66.02-1.3.04-1.95.04a174.58 174.58 0 0 1-10.84 44.02 160.236 160.236 0 0 1-7.12 15.68q-.75-2.55-1.45-5.13c.12-.23.23-.45.34-.68a161.942 161.942 0 0 0 6.99-16.77q2.475-7.035 4.32-14.25a170.463 170.463 0 0 0 1.04-79.74 45.362 45.362 0 0 1-8.46-25.83 34.649 34.649 0 0 1 1.29-9.88 38.588 38.588 0 0 0 3.15 1.86l.09.05a5.238 5.238 0 0 0 7.59-5.81c-.14-.61-.29-1.22-.43-1.83-.22-.94-.45-1.88-.66-2.82a1.567 1.567 0 0 1-.08-.29c-.25-1.07-.51-2.13-.76-3.2a15.118 15.118 0 0 1 6.57-2.16c8.01-.64 15.41 6.07 17.18 13.9 1.8 7.84-1.19 16.18-6.17 22.48-4.27 5.39-9.88 9.52-15.72 13.2.13.6.28 1.19.41 1.78a172.448 172.448 0 0 1 3.76 33.33c3.56-10.62 11.27-21.75 18.25-27.96 7.95-7.07 18.43-11.2 28.19-15.92 11.71-5.67 24.69 5.56 20.33 17.83ZM636.92 479.47c1.67 2.12 3.4 4.23 5.13 6.35a335.122 335.122 0 0 1-20.06 35.52l-1.65-1.17a2.12 2.12 0 0 1-.25-.16c-2.05-1.46-4.11-2.9-6.16-4.36v-.01a70.003 70.003 0 0 1-2.81-17.7 5.288 5.288 0 0 0 1.23-9.86c-.27-.47-.46-.81-.73-1.29.01-.12.03-.25.04-.37 1.57-12.49 17.49-16.85 25.26-6.95ZM654.87 436.67q1.8 4.95 3.28 10.01-1.02 3-2.09 5.98-.405-1.575-.84-3.15a161.955 161.955 0 0 0-5.85-17.2q-2.79-6.915-6.18-13.54a170.356 170.356 0 0 0-51.96-60.5 45.35 45.35 0 0 1-23.43-13.78 34.858 34.858 0 0 1-5.57-8.26c.92-.13 1.84-.31 2.74-.5.28-.06.57-.13.85-.19l.11-.02a5.241 5.241 0 0 0 1.85-9.38c-.51-.37-1.03-.73-1.54-1.09-.78-.57-1.57-1.11-2.36-1.67a2.489 2.489 0 0 1-.24-.17c-.9-.64-1.8-1.26-2.69-1.91a15.195 15.195 0 0 1 3.49-5.96c5.59-5.77 15.57-5.64 22.09-.94 6.53 4.7 9.81 12.93 10.23 20.95.37 6.87-1.11 13.67-3.06 20.3.49.36 1 .7 1.49 1.07a171.326 171.326 0 0 1 24.86 22.51c-4.35-10.32-5.93-23.78-4.8-33.05 1.29-10.56 6.42-20.59 10.62-30.58 5.03-12 22.19-12.16 27.03-.08.05.12.1.23.14.35q-1.215 1.215-2.34 2.52a7.175 7.175 0 0 0 6.29 11.8l.15-.02a72.096 72.096 0 0 1 1.06 10.79 73.508 73.508 0 0 1-22.88 54.2c-.48.45-.95.89-1.44 1.32a170.658 170.658 0 0 1 12.45 20.67 172.445 172.445 0 0 1 8.54 19.52Z"/>
							</svg>
						</div>
						<div class="col-md-6 align-self-center">
							<p class="fs-3">Time to start transcribing your meeting.</p>
							<p class="fw-light">Click on the button below to start the transcription.<br>You will need to authorise access to your microphone.</p>
							<button class="btn btn-primary py-2 mt-2" id="startTranscription">Start your transcription</button>
						</div>
					</div>
				</div>
			{% else %}
				<div id="meeting-transcription">
					<div class="row">
						<div class="col-md-8 d-flex">

							<p id="meeting-transcription">
								{{ meeting.transcript.data }}
							</p>
						</div>
						{% if not meeting.isFinished %}

							<div class="d-flex col-md-4 align-items-center flex-column">
								<div class="d-flex position-sticky align-items-center top-0 text-center flex-column">
									<svg xmlns="http://www.w3.org/2000/svg" class="d-flex justify-content-center align-items-center settings-svg" viewbox="0 0 938 604">
										<path fill="#f2f2f2" d="m680.584 566.656-4.873-60.576-13.926 64.057s.184 16.16.645 33.863h17.84c.602-20.236.314-37.344.314-37.344ZM429.99 588.199a123.334 123.334 0 0 1-2.898-17.221l-1.95-20.955c-.819-5.739-1.661-10.795-2.508-15.258-6.208-31.823-12.616-32.974-12.616-32.974-.275.211-.543.445-.819.685a20.629 20.629 0 0 0-2.098 2.214c-10.206 12.973-17.13 46.619-20.768 68.939-2.009 12.33-3.01 21.201-3.01 21.201s.91 3.78 2.15 9.17h46.575a82.799 82.799 0 0 0-2.058-15.801Z"/>
										<path fill="#f2f2f2" d="M796.22 0H141.78C63.8 0 0 63.8 0 141.78v320.44C0 540.2 63.8 604 141.78 604h207.422l-2.677-12.601s-6.884-44.428 0-79.066a260.03 260.03 0 0 0 4.567-32.928 198.378 198.378 0 0 1 6.097-36.973c.182-.699.386-1.391.576-2.088-1.679-.456-2.45-.821-2.06-1.052 1.076-.635 1.667-2.58 1.962-5.05a241.718 241.718 0 0 1 10.437-48.095c-6.957 4.368-11.575 4.831-14.6 3.14-10.625-2.903-6.214-26.8-6.214-26.8s6.604-51.69 8.797-70.407c1.261-10.758 17.42-16.854 31.724-20.164 1.507-3.233 2.592-6.49 1.903-9.907-.046-.23-.113-.453-.174-.678-1.819-4.04-5.516-7.363-6.903-11.546a12.182 12.182 0 0 1-1.283-3.603c-1.23-7.172 5.477-13.368 7.41-20.266a16.695 16.695 0 0 1-4.287-6.876c-2.947-6.043-1.51-13.297 7.952-18.898 1.889-1.118 3.89-2.105 5.924-3.051a9.214 9.214 0 0 1 2.405-1.103c6.77-3.063 13.575-6.026 17.627-11.988 1.043-1.536 1.958-3.317 3.646-4.124a7.035 7.035 0 0 1 2.512-.562c13.045-1.002 24.857 10.185 37.84 8.582 3.934-.486 7.949-2.14 11.724-.95 2.48.783 4.416 2.688 6.084 4.659a48.005 48.005 0 0 1 10.41 39.529c-1.646 8.553-5.65 17.368-2.765 25.597 2.12 6.047 7.795 10.954 7.835 17.35.033 5.263-3.703 9.463-7.312 13.558q.704.72 1.372 1.48c8.82 10.05 7.154 18.627 5.91 22.061v.002l-4.536 43.774-3.825 29.367s-.946 12.052-9.854 14.695c-2.596 1.2-5.995 1.517-10.464.157-2.9-.882-5.343-1.764-7.417-2.622 1.96 6.26 5.334 19.04 4.786 31.444-.765 17.32 1.53 18.825 1.53 18.825a3.101 3.101 0 0 1-.487.481c9.087 20.076 9.17 40.674-.278 61.265-10.71 23.343.765 77.56.765 77.56s.817 8.457 1.184 17.872h164.288c-2.613-24.923-5.752-49.873-7.147-52.662-2.299-4.598.62-80.345 1.71-106.656a46.257 46.257 0 0 1-1.403-.375 30.324 30.324 0 0 1-2.12-.693 15.453 15.453 0 0 0 .42 3.98c.968 2.256-1.351 3.914-5.292 5.046 2.292 11.186 5.123 32-4.455 36.033-9.853 4.149-10.05-21.051-9.509-34.187-1.243.046-2.489.07-3.72.07-11.837 0 3.481-137.165 2.785-146.217-.696-9.051 5.57-45.954 5.57-45.954s2.089-7.659 8.355-9.051 36.206-18.8 36.206-18.8a22.362 22.362 0 0 1 6.267-5.932v-1.03a22.965 22.965 0 0 1 2.485-2.012c-.365-6.083-1.188-13.932-1.788-19.235a24.302 24.302 0 0 1-6.533-12.5 38.369 38.369 0 0 1-3.646-3.239 18.996 18.996 0 0 1-4.67-11.856 37.464 37.464 0 0 1 1.857-12.8 15.324 15.324 0 0 1 1.613-3.908 14.145 14.145 0 0 1 3.645-3.614c.423-.313.86-.607 1.295-.903a12.194 12.194 0 0 1 3.94-4.471c3.553-2.334 8.126-2.143 12.376-2.037l.192.001q1.183-.19 2.374-.314a2.434 2.434 0 0 0 1.903-1.865l1.726 1.658q1.295-.019 2.588.044A18.49 18.49 0 0 1 679.7 148l.946 2.698c.866.092 1.729.209 2.587.358l2.03-1.614c.15-.119.69 1.643.961 2.248.466.12.93.247 1.39.39.72-.033 1.52-.168 1.963-.16a13.13 13.13 0 0 1 6.997 1.744 15.027 15.027 0 0 1 4.448 5.133 33.252 33.252 0 0 1 4.964 14.321 16.6 16.6 0 0 1 2.754 6.155c1.15 6.99-5.493 12.83-6.81 19.79-.701 3.713.1 7.826-1.791 11.097a11.588 11.588 0 0 1-3.19 3.344 24.067 24.067 0 0 1-2.357 1.553 60.516 60.516 0 0 0 1.441 12.515l.896 3.435a87.432 87.432 0 0 1 4.544 3.527s19.496 8.356 26.459 12.533c6.12 3.673 12.776 4.121 14.77 8.905l.548.147s6.962 77.286 7.659 90.515 9.051 94.693 7.659 98.174c-.516 1.289-3.8 2.767-7.764 3.943 2.314 10.575 6.05 33.572-4.073 37.834-10.261 4.32-10.05-23.193-9.438-35.757-1.369-.123-2.266-.481-2.398-1.146-.114-.565-.477-3.122-1.001-7.02-.868.135-1.767.274-2.725.42l-.59.088c8.828 27.768-10.723 101.412-14.484 115.827-1.965 7.532-4.084 26.157-5.995 45.003h86.121C874.2 604 938 540.2 938 462.22V141.78C938 63.8 874.2 0 796.22 0Z"/>
										<ellipse cx="210" cy="169" fill="#3f3d56" rx="95" ry="86.45"/>
										<path fill="#ffb9b9" d="M366.5 451.5s32-22 32-32 22-75 34-46-17 70-17 70-32 58-51 68-35 4-35 4v-27l18.282-27.057A22.59 22.59 0 0 1 366.5 451.5Z"/>
										<path fill="#575a89" d="M275.544 298.336S323.5 313.5 328.5 320.5s7-5 21 41S367 452 367 452s-34.5 11.5-30.5 56.5-6 94-6 94h-12.484l-27.516-85 33-129s-46.913-79.327-47.956-90.164Z"/>
										<circle cx="259.5" cy="196.5" r="60" fill="#ffb9b9"/>
										<path fill="#ffb9b9" d="M282.5 241.5s-17 56-2 64 32 44 32 44l-26 29h-60l-27-30-11-51 15-12s16-40 16-61 63 17 63 17Z"/>
										<path fill="#172236" d="M287.5 303.5s-12-3-5 9 14 34-11 35-50-12-58-39-11-25-14-24-35 34-35 34l11 62 4 222h146s6-64-4-79 9-53 9-53 17-26 4-76-42-91-47-91Z"/>
										<path fill="#575a89" d="M206.5 284.5s-15-7-28 5-42 22-42 28 25 177 8 207-35 78-35 78h83.413s13.587-50 27.587-77 13-103 9-126-23-115-23-115Z"/>
										<path fill="#ffb9b9" d="m118.5 549.5 4.87 53h54.047l-4.917-66-54 13z"/>
										<path fill="#3f3d56" d="m364.5 521.5 13 81h289l25-163-327 82z"/>
										<path fill="#3f3d56" d="m702.5 428.5 3 15-374 90v-13l371-92z"/>
										<path fill="#3f3d56" d="m544.5 455.5-2 17 22-3-9-17-11 3z"/>
										<path fill="none" stroke="#3f3d56" stroke-miterlimit="10" stroke-width="5" d="M423.5 283.5s44-3 56 31 40 95 51 104 23 33 21 41"/>
										<path fill="#172236" d="M430 283c0 4.694-4.992 8.5-13 8.5s-12-3.806-12-8.5 3.992-8.5 12-8.5 13 3.806 13 8.5Z"/>
										<path fill="#575a89" d="M356 439s7.5-31.5-6.5-77.5-16-34-21-41-52.956-22.164-52.956-22.164c.343 3.561 5.638 14.517 12.595 27.624a53.193 53.193 0 0 0-5.639-13.46c-7-12 5-9 5-9 5 0 34 41 47 91s-4 76-4 76Z"/>
										<path fill="#575a89" d="M276 298s5.92 22.458 10.96 25.729 34.93 34.325 34.93 34.325L318 333l-16-24-4.256-3.088Z"/>
										<path d="m143 367 1.394-51.5s-32.894 14-35.894 74 5 173 16 174 63-11 63-11 8-145 5-164S143 367 143 367Z" opacity=".1"/>
										<path fill="#575a89" d="M145.5 315.5h-8.106s-32.894 14-35.894 74 5 173 16 174 63-11 63-11 8-145 5-164-40-73-40-73Z"/>
										<ellipse cx="188" cy="180.5" fill="#3f3d56" rx="62" ry="69.5"/>
										<ellipse cx="232.5" cy="218.5" fill="#ffb9b9" rx="12.5" ry="18.5"/>
										<circle cx="126" cy="111" r="51" fill="#3f3d56"/>
										<path fill="#3f3d56" d="M132.592 151.857a50.996 50.996 0 0 1-73.893-40.613 50.995 50.995 0 1 0 101.176 2.838 50.921 50.921 0 0 1-27.283 37.775Z"/>
										<path fill="#3f3d56" d="M98.02 119.43a50.996 50.996 0 0 1 25.683-80.312 50.994 50.994 0 1 0 16.625 99.84A50.921 50.921 0 0 1 98.02 119.43Z"/>
										<ellipse cx="263" cy="150" fill="#3f3d56" rx="36" ry="26"/>
									</svg>

									<p class="fs-3 mt-2 pd-0 text-center">Your meeting is still listed as in progress but the transcription has been stopped.</p>
									<p class="fw-light">You can continue transcribing it or end it here.</p>
									<div class="d-flex flex-row gap-2">
										<button class="btn btn-primary py-2 mt-2" id="startTranscription">Continue your meeting</button>
										<button class="btn btn-danger py-2 mt-2" data-bs-toggle="modal" data-bs-target="#{{ meeting.id|trim('1234567890', 'left')|lower }}-end-modal">End your meeting</button>
									</div>
								</div>
							</div>
						{% else %}
							<div class="d-flex col-md-4 align-items-center flex-column">
								<div class="d-flex position-sticky align-items-center top-0 text-center flex-column">

									<svg xmlns="http://www.w3.org/2000/svg" class="d-flex col-md-6 align-self-center align-items-center flex-column settings-svg" viewbox="0 0 866.524 637.056">
										<path fill="#f1f1f1" d="M805 637.056v-72.34s28.192 51.286 0 72.34Z"/>
										<path fill="#f1f1f1" d="m806.741 637.044-53.29-48.922s56.846 13.916 53.29 48.922Z"/>
										<path fill="#ffb7b7" d="M576.528 445.97a9.095 9.095 0 0 1 9.852-9.871l9.606-18.431 12.625 3.106-13.932 25.837a9.145 9.145 0 0 1-18.15-.64ZM633.871 625.527l-10.653-.001-5.068-41.089 15.723.001-.002 41.089z"/>
										<path fill="#2f2e41" d="m636.587 635.853-34.348-.002v-.434a13.37 13.37 0 0 1 13.37-13.37l20.98.002Z"/>
										<path fill="#ffb7b7" d="m719.549 617.569-10.278 2.802-15.701-38.308 15.169-4.136 10.81 39.642z"/>
										<path fill="#2f2e41" d="m724.887 626.816-33.14 9.037-.114-.42a13.37 13.37 0 0 1 9.381-16.415h.001l20.24-5.52ZM614.423 448.033l-5.314 80.694 11.415 90.534 18.697-5.707.788-80.891 14.957-46.645 44.284 124.584 20.271-7.479-16.729-80.891-9.447-75.97-78.922 1.771z"/>
										<path fill="#cbcbcb" d="m666.084 306.334-31.485 4.643-11.343 11.218-3.522 40.307 2.187 35.702-9.118 62.959s22.93-12.73 40.7 3.205 42.636 2.816 43.147-7.784Z"/>
										<path fill="#2f2e41" d="M650.096 356.885v-.045l15.641-50.984.202-.013c1.113-.072 27.337-1.618 33.202 11.33l.029.063-1.782 52.983 2.454 82.979-48.5 10.505-.353.076ZM632.763 353.361l2.869-43.22c-20.407 1.269-20.1 15.737-20.076 16.368l-.223 64.65-4.087 69.164 14.86-1.115Z"/>
										<path fill="#2f2e41" d="m586.747 432.005 18.117-42.047 12.646-23.222 6.602 41.89-22.922 34.383Z"/>
										<path fill="#ffb7b7" d="M661.622 416.534a9.095 9.095 0 0 1 12.325-6.526l14.616-14.777 11.147 6.692-20.935 20.578a9.145 9.145 0 0 1-17.153-5.967Z"/>
										<path fill="#2f2e41" d="m673.913 404.614 29.801-32.693-19.726-28.149 2.03-13.762 11.627-14.362.227.293c1.239 1.604 30.362 39.44 31.197 53.763.839 14.376-41.02 50.742-42.803 52.282l-.248.215Z"/>
										<circle cx="647.916" cy="281.612" r="21.181" fill="#ffb7b7"/>
										<path fill="#2f2e41" d="m667.838 264.678 1.027-2.066-5.167-2.567s-5.7-9.275-16.014-6.668-14.955 4.166-14.955 4.166l-5.154 2.593 2.587 2.574-4.64 1.56 3.1 1.54-3.608 2.073 1.942 10.628s3.225-8.06 9.425-4.98 17.542-1.593 17.542-1.593l9.853 19.069s2.033-6.685 5.657-4.902c0 0 9.258-14.745-1.595-21.427Z"/>
										<path fill="#fff" d="m428.17 384.598-322.103 88.831L0 88.831 322.102 0Z"/>
										<path fill="#f1f1f1" d="m428.17 384.598-322.103 88.831L0 88.831 322.102 0ZM110.181 466.18l310.738-85.698L317.987 7.25 7.25 92.947Z"/>
										<path fill="#e5e5e5" d="m252.006 172.293-80.741 22.268a4.46 4.46 0 0 1-5.48-3.11l-22.267-80.742a4.46 4.46 0 0 1 3.11-5.479l80.742-22.267a4.46 4.46 0 0 1 5.479 3.11l22.267 80.741a4.46 4.46 0 0 1-3.11 5.48Zm-104.904-65.345a2.676 2.676 0 0 0-1.866 3.288l22.267 80.74a2.676 2.676 0 0 0 3.288 1.867l80.741-22.267a2.676 2.676 0 0 0 1.866-3.288l-22.267-80.74a2.676 2.676 0 0 0-3.288-1.867Z"/>
										<path fill="#172236" d="m231.538 188.567-80.74 22.268a4.014 4.014 0 0 1-4.932-2.8l-22.267-80.74a4.014 4.014 0 0 1 2.8-4.932l80.74-22.267a4.014 4.014 0 0 1 4.931 2.799l22.268 80.741a4.014 4.014 0 0 1-2.8 4.931Z"/>
										<path fill="#f1f1f1" d="m99.756 261.73 225.317-62.14 2.4 8.707-225.316 62.14zM106.017 284.431l225.317-62.139 2.4 8.707-225.316 62.14zM112.278 307.132l225.316-62.139 2.402 8.707-225.317 62.14zM123.297 347.088l225.316-62.139 2.402 8.707-225.317 62.14zM129.558 369.79l225.316-62.139 2.402 8.707-225.317 62.14zM135.819 392.492l225.316-62.139 2.402 8.707L138.22 401.2z"/>
										<path fill="#fff" d="M531.276 472.144H197.15V73.19h334.127Z"/>
										<path fill="#e5e5e5" d="M531.276 472.144H197.15V73.19h334.127Zm-328.232-5.894h322.338V79.083H203.044Z"/>
										<path fill="#172236" d="M279.408 244.695h191.034v9.032H279.408zM279.408 268.178h191.034v9.032H279.408zM279.408 291.661h191.034v9.032H279.408z"/>
										<circle cx="263.877" cy="250.534" r="5.895" fill="#172236"/>
										<path fill="#e5e5e5" d="M279.408 143.505h191.034v9.032H279.408zM279.408 166.989h191.034v9.032H279.408zM279.408 190.472h191.034v9.032H279.408z"/>
										<circle cx="263.877" cy="148.362" r="5.895" fill="#e5e5e5"/>
										<path fill="#e5e5e5" d="M279.408 346.867h191.034v9.032H279.408zM279.408 370.35h191.034v9.032H279.408zM279.408 393.833h191.034v9.032H279.408z"/>
										<circle cx="263.877" cy="351.723" r="5.895" fill="#e5e5e5"/>
										<circle cx="515.677" cy="438.205" r="68.293" fill="#172236"/>
										<path fill="#fff" d="M534.598 433.848v-13.067a18.921 18.921 0 1 0-37.842 0v13.067a9.838 9.838 0 0 0-9.396 9.824v30.879h56.634v-30.88a9.838 9.838 0 0 0-9.396-9.823Zm-18.921-25.326a12.273 12.273 0 0 1 12.258 12.26v13.044h-24.517V420.78a12.273 12.273 0 0 1 12.259-12.259Z"/>
										<path fill="#172236" d="M520.768 449.098a5.09 5.09 0 1 0-7.955 4.207v11.065h5.727v-11.065a5.084 5.084 0 0 0 2.228-4.207Z"/>
										<path fill="#cbcbcb" d="M865.524 636.65h-381a1 1 0 0 1 0-2h381a1 1 0 0 1 0 2Z"/>
									</svg>


									<p class="fs-3 mt-2 pd-0 text-center">This meeting is over.</p>
									<p class="fw-light">It is no longer possible to continue with the transcription.</p>

									{% if meeting.deletionDate %}
										<p class="fw-bolder">As requested, the transcript data for this meeting will be deleted on
											{{ meeting.deletionDateString }}.</p>
									{% endif %}
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			</div>

		{% endif %}

		<div id="meeting-recording" style="display: none;">
			<div class="row">
				<div class="col-md-8 d-flex">
					<p id="meeting-transcription-data">{{ meeting.transcript.data }}</p>
				</div>

				<div class="col-md-4 align-items-center flex-column" id="meeting-in-recording" style="display: none;">
					<div class="d-flex position-sticky align-items-center top-0 text-center flex-column">

						<svg xmlns="http://www.w3.org/2000/svg" class="d-flex justify-content-center align-items-center settings-svg" viewbox="0 0 938 604">
							<path fill="#f2f2f2" d="m680.584 566.656-4.873-60.576-13.926 64.057s.184 16.16.645 33.863h17.84c.602-20.236.314-37.344.314-37.344ZM429.99 588.199a123.334 123.334 0 0 1-2.898-17.221l-1.95-20.955c-.819-5.739-1.661-10.795-2.508-15.258-6.208-31.823-12.616-32.974-12.616-32.974-.275.211-.543.445-.819.685a20.629 20.629 0 0 0-2.098 2.214c-10.206 12.973-17.13 46.619-20.768 68.939-2.009 12.33-3.01 21.201-3.01 21.201s.91 3.78 2.15 9.17h46.575a82.799 82.799 0 0 0-2.058-15.801Z"/>
							<path fill="#f2f2f2" d="M796.22 0H141.78C63.8 0 0 63.8 0 141.78v320.44C0 540.2 63.8 604 141.78 604h207.422l-2.677-12.601s-6.884-44.428 0-79.066a260.03 260.03 0 0 0 4.567-32.928 198.378 198.378 0 0 1 6.097-36.973c.182-.699.386-1.391.576-2.088-1.679-.456-2.45-.821-2.06-1.052 1.076-.635 1.667-2.58 1.962-5.05a241.718 241.718 0 0 1 10.437-48.095c-6.957 4.368-11.575 4.831-14.6 3.14-10.625-2.903-6.214-26.8-6.214-26.8s6.604-51.69 8.797-70.407c1.261-10.758 17.42-16.854 31.724-20.164 1.507-3.233 2.592-6.49 1.903-9.907-.046-.23-.113-.453-.174-.678-1.819-4.04-5.516-7.363-6.903-11.546a12.182 12.182 0 0 1-1.283-3.603c-1.23-7.172 5.477-13.368 7.41-20.266a16.695 16.695 0 0 1-4.287-6.876c-2.947-6.043-1.51-13.297 7.952-18.898 1.889-1.118 3.89-2.105 5.924-3.051a9.214 9.214 0 0 1 2.405-1.103c6.77-3.063 13.575-6.026 17.627-11.988 1.043-1.536 1.958-3.317 3.646-4.124a7.035 7.035 0 0 1 2.512-.562c13.045-1.002 24.857 10.185 37.84 8.582 3.934-.486 7.949-2.14 11.724-.95 2.48.783 4.416 2.688 6.084 4.659a48.005 48.005 0 0 1 10.41 39.529c-1.646 8.553-5.65 17.368-2.765 25.597 2.12 6.047 7.795 10.954 7.835 17.35.033 5.263-3.703 9.463-7.312 13.558q.704.72 1.372 1.48c8.82 10.05 7.154 18.627 5.91 22.061v.002l-4.536 43.774-3.825 29.367s-.946 12.052-9.854 14.695c-2.596 1.2-5.995 1.517-10.464.157-2.9-.882-5.343-1.764-7.417-2.622 1.96 6.26 5.334 19.04 4.786 31.444-.765 17.32 1.53 18.825 1.53 18.825a3.101 3.101 0 0 1-.487.481c9.087 20.076 9.17 40.674-.278 61.265-10.71 23.343.765 77.56.765 77.56s.817 8.457 1.184 17.872h164.288c-2.613-24.923-5.752-49.873-7.147-52.662-2.299-4.598.62-80.345 1.71-106.656a46.257 46.257 0 0 1-1.403-.375 30.324 30.324 0 0 1-2.12-.693 15.453 15.453 0 0 0 .42 3.98c.968 2.256-1.351 3.914-5.292 5.046 2.292 11.186 5.123 32-4.455 36.033-9.853 4.149-10.05-21.051-9.509-34.187-1.243.046-2.489.07-3.72.07-11.837 0 3.481-137.165 2.785-146.217-.696-9.051 5.57-45.954 5.57-45.954s2.089-7.659 8.355-9.051 36.206-18.8 36.206-18.8a22.362 22.362 0 0 1 6.267-5.932v-1.03a22.965 22.965 0 0 1 2.485-2.012c-.365-6.083-1.188-13.932-1.788-19.235a24.302 24.302 0 0 1-6.533-12.5 38.369 38.369 0 0 1-3.646-3.239 18.996 18.996 0 0 1-4.67-11.856 37.464 37.464 0 0 1 1.857-12.8 15.324 15.324 0 0 1 1.613-3.908 14.145 14.145 0 0 1 3.645-3.614c.423-.313.86-.607 1.295-.903a12.194 12.194 0 0 1 3.94-4.471c3.553-2.334 8.126-2.143 12.376-2.037l.192.001q1.183-.19 2.374-.314a2.434 2.434 0 0 0 1.903-1.865l1.726 1.658q1.295-.019 2.588.044A18.49 18.49 0 0 1 679.7 148l.946 2.698c.866.092 1.729.209 2.587.358l2.03-1.614c.15-.119.69 1.643.961 2.248.466.12.93.247 1.39.39.72-.033 1.52-.168 1.963-.16a13.13 13.13 0 0 1 6.997 1.744 15.027 15.027 0 0 1 4.448 5.133 33.252 33.252 0 0 1 4.964 14.321 16.6 16.6 0 0 1 2.754 6.155c1.15 6.99-5.493 12.83-6.81 19.79-.701 3.713.1 7.826-1.791 11.097a11.588 11.588 0 0 1-3.19 3.344 24.067 24.067 0 0 1-2.357 1.553 60.516 60.516 0 0 0 1.441 12.515l.896 3.435a87.432 87.432 0 0 1 4.544 3.527s19.496 8.356 26.459 12.533c6.12 3.673 12.776 4.121 14.77 8.905l.548.147s6.962 77.286 7.659 90.515 9.051 94.693 7.659 98.174c-.516 1.289-3.8 2.767-7.764 3.943 2.314 10.575 6.05 33.572-4.073 37.834-10.261 4.32-10.05-23.193-9.438-35.757-1.369-.123-2.266-.481-2.398-1.146-.114-.565-.477-3.122-1.001-7.02-.868.135-1.767.274-2.725.42l-.59.088c8.828 27.768-10.723 101.412-14.484 115.827-1.965 7.532-4.084 26.157-5.995 45.003h86.121C874.2 604 938 540.2 938 462.22V141.78C938 63.8 874.2 0 796.22 0Z"/>
							<ellipse cx="210" cy="169" fill="#3f3d56" rx="95" ry="86.45"/>
							<path fill="#ffb9b9" d="M366.5 451.5s32-22 32-32 22-75 34-46-17 70-17 70-32 58-51 68-35 4-35 4v-27l18.282-27.057A22.59 22.59 0 0 1 366.5 451.5Z"/>
							<path fill="#575a89" d="M275.544 298.336S323.5 313.5 328.5 320.5s7-5 21 41S367 452 367 452s-34.5 11.5-30.5 56.5-6 94-6 94h-12.484l-27.516-85 33-129s-46.913-79.327-47.956-90.164Z"/>
							<circle cx="259.5" cy="196.5" r="60" fill="#ffb9b9"/>
							<path fill="#ffb9b9" d="M282.5 241.5s-17 56-2 64 32 44 32 44l-26 29h-60l-27-30-11-51 15-12s16-40 16-61 63 17 63 17Z"/>
							<path fill="#172236" d="M287.5 303.5s-12-3-5 9 14 34-11 35-50-12-58-39-11-25-14-24-35 34-35 34l11 62 4 222h146s6-64-4-79 9-53 9-53 17-26 4-76-42-91-47-91Z"/>
							<path fill="#575a89" d="M206.5 284.5s-15-7-28 5-42 22-42 28 25 177 8 207-35 78-35 78h83.413s13.587-50 27.587-77 13-103 9-126-23-115-23-115Z"/>
							<path fill="#ffb9b9" d="m118.5 549.5 4.87 53h54.047l-4.917-66-54 13z"/>
							<path fill="#3f3d56" d="m364.5 521.5 13 81h289l25-163-327 82z"/>
							<path fill="#3f3d56" d="m702.5 428.5 3 15-374 90v-13l371-92z"/>
							<path fill="#3f3d56" d="m544.5 455.5-2 17 22-3-9-17-11 3z"/>
							<path fill="none" stroke="#3f3d56" stroke-miterlimit="10" stroke-width="5" d="M423.5 283.5s44-3 56 31 40 95 51 104 23 33 21 41"/>
							<path fill="#172236" d="M430 283c0 4.694-4.992 8.5-13 8.5s-12-3.806-12-8.5 3.992-8.5 12-8.5 13 3.806 13 8.5Z"/>
							<path fill="#575a89" d="M356 439s7.5-31.5-6.5-77.5-16-34-21-41-52.956-22.164-52.956-22.164c.343 3.561 5.638 14.517 12.595 27.624a53.193 53.193 0 0 0-5.639-13.46c-7-12 5-9 5-9 5 0 34 41 47 91s-4 76-4 76Z"/>
							<path fill="#575a89" d="M276 298s5.92 22.458 10.96 25.729 34.93 34.325 34.93 34.325L318 333l-16-24-4.256-3.088Z"/>
							<path d="m143 367 1.394-51.5s-32.894 14-35.894 74 5 173 16 174 63-11 63-11 8-145 5-164S143 367 143 367Z" opacity=".1"/>
							<path fill="#575a89" d="M145.5 315.5h-8.106s-32.894 14-35.894 74 5 173 16 174 63-11 63-11 8-145 5-164-40-73-40-73Z"/>
							<ellipse cx="188" cy="180.5" fill="#3f3d56" rx="62" ry="69.5"/>
							<ellipse cx="232.5" cy="218.5" fill="#ffb9b9" rx="12.5" ry="18.5"/>
							<circle cx="126" cy="111" r="51" fill="#3f3d56"/>
							<path fill="#3f3d56" d="M132.592 151.857a50.996 50.996 0 0 1-73.893-40.613 50.995 50.995 0 1 0 101.176 2.838 50.921 50.921 0 0 1-27.283 37.775Z"/>
							<path fill="#3f3d56" d="M98.02 119.43a50.996 50.996 0 0 1 25.683-80.312 50.994 50.994 0 1 0 16.625 99.84A50.921 50.921 0 0 1 98.02 119.43Z"/>
							<ellipse cx="263" cy="150" fill="#3f3d56" rx="36" ry="26"/>
						</svg>

						<p class="fs-3 mt-2 pd-0 text-center">Transcript of your meeting in progress.</p>
						<button class="btn btn-warning py-2 mt-2" id="stopTranscription">Stop your transcription</button>
					</div>

				</div>

				<div class="col-md-4 align-items-center flex-column" id="meeting-pause-recording" style="display: none;">
					<div class="d-flex position-sticky align-items-center top-0 text-center flex-column">

						<svg xmlns="http://www.w3.org/2000/svg" class="d-flex justify-content-center align-items-center settings-svg" viewbox="0 0 938 604">
							<path fill="#f2f2f2" d="m680.584 566.656-4.873-60.576-13.926 64.057s.184 16.16.645 33.863h17.84c.602-20.236.314-37.344.314-37.344ZM429.99 588.199a123.334 123.334 0 0 1-2.898-17.221l-1.95-20.955c-.819-5.739-1.661-10.795-2.508-15.258-6.208-31.823-12.616-32.974-12.616-32.974-.275.211-.543.445-.819.685a20.629 20.629 0 0 0-2.098 2.214c-10.206 12.973-17.13 46.619-20.768 68.939-2.009 12.33-3.01 21.201-3.01 21.201s.91 3.78 2.15 9.17h46.575a82.799 82.799 0 0 0-2.058-15.801Z"/>
							<path fill="#f2f2f2" d="M796.22 0H141.78C63.8 0 0 63.8 0 141.78v320.44C0 540.2 63.8 604 141.78 604h207.422l-2.677-12.601s-6.884-44.428 0-79.066a260.03 260.03 0 0 0 4.567-32.928 198.378 198.378 0 0 1 6.097-36.973c.182-.699.386-1.391.576-2.088-1.679-.456-2.45-.821-2.06-1.052 1.076-.635 1.667-2.58 1.962-5.05a241.718 241.718 0 0 1 10.437-48.095c-6.957 4.368-11.575 4.831-14.6 3.14-10.625-2.903-6.214-26.8-6.214-26.8s6.604-51.69 8.797-70.407c1.261-10.758 17.42-16.854 31.724-20.164 1.507-3.233 2.592-6.49 1.903-9.907-.046-.23-.113-.453-.174-.678-1.819-4.04-5.516-7.363-6.903-11.546a12.182 12.182 0 0 1-1.283-3.603c-1.23-7.172 5.477-13.368 7.41-20.266a16.695 16.695 0 0 1-4.287-6.876c-2.947-6.043-1.51-13.297 7.952-18.898 1.889-1.118 3.89-2.105 5.924-3.051a9.214 9.214 0 0 1 2.405-1.103c6.77-3.063 13.575-6.026 17.627-11.988 1.043-1.536 1.958-3.317 3.646-4.124a7.035 7.035 0 0 1 2.512-.562c13.045-1.002 24.857 10.185 37.84 8.582 3.934-.486 7.949-2.14 11.724-.95 2.48.783 4.416 2.688 6.084 4.659a48.005 48.005 0 0 1 10.41 39.529c-1.646 8.553-5.65 17.368-2.765 25.597 2.12 6.047 7.795 10.954 7.835 17.35.033 5.263-3.703 9.463-7.312 13.558q.704.72 1.372 1.48c8.82 10.05 7.154 18.627 5.91 22.061v.002l-4.536 43.774-3.825 29.367s-.946 12.052-9.854 14.695c-2.596 1.2-5.995 1.517-10.464.157-2.9-.882-5.343-1.764-7.417-2.622 1.96 6.26 5.334 19.04 4.786 31.444-.765 17.32 1.53 18.825 1.53 18.825a3.101 3.101 0 0 1-.487.481c9.087 20.076 9.17 40.674-.278 61.265-10.71 23.343.765 77.56.765 77.56s.817 8.457 1.184 17.872h164.288c-2.613-24.923-5.752-49.873-7.147-52.662-2.299-4.598.62-80.345 1.71-106.656a46.257 46.257 0 0 1-1.403-.375 30.324 30.324 0 0 1-2.12-.693 15.453 15.453 0 0 0 .42 3.98c.968 2.256-1.351 3.914-5.292 5.046 2.292 11.186 5.123 32-4.455 36.033-9.853 4.149-10.05-21.051-9.509-34.187-1.243.046-2.489.07-3.72.07-11.837 0 3.481-137.165 2.785-146.217-.696-9.051 5.57-45.954 5.57-45.954s2.089-7.659 8.355-9.051 36.206-18.8 36.206-18.8a22.362 22.362 0 0 1 6.267-5.932v-1.03a22.965 22.965 0 0 1 2.485-2.012c-.365-6.083-1.188-13.932-1.788-19.235a24.302 24.302 0 0 1-6.533-12.5 38.369 38.369 0 0 1-3.646-3.239 18.996 18.996 0 0 1-4.67-11.856 37.464 37.464 0 0 1 1.857-12.8 15.324 15.324 0 0 1 1.613-3.908 14.145 14.145 0 0 1 3.645-3.614c.423-.313.86-.607 1.295-.903a12.194 12.194 0 0 1 3.94-4.471c3.553-2.334 8.126-2.143 12.376-2.037l.192.001q1.183-.19 2.374-.314a2.434 2.434 0 0 0 1.903-1.865l1.726 1.658q1.295-.019 2.588.044A18.49 18.49 0 0 1 679.7 148l.946 2.698c.866.092 1.729.209 2.587.358l2.03-1.614c.15-.119.69 1.643.961 2.248.466.12.93.247 1.39.39.72-.033 1.52-.168 1.963-.16a13.13 13.13 0 0 1 6.997 1.744 15.027 15.027 0 0 1 4.448 5.133 33.252 33.252 0 0 1 4.964 14.321 16.6 16.6 0 0 1 2.754 6.155c1.15 6.99-5.493 12.83-6.81 19.79-.701 3.713.1 7.826-1.791 11.097a11.588 11.588 0 0 1-3.19 3.344 24.067 24.067 0 0 1-2.357 1.553 60.516 60.516 0 0 0 1.441 12.515l.896 3.435a87.432 87.432 0 0 1 4.544 3.527s19.496 8.356 26.459 12.533c6.12 3.673 12.776 4.121 14.77 8.905l.548.147s6.962 77.286 7.659 90.515 9.051 94.693 7.659 98.174c-.516 1.289-3.8 2.767-7.764 3.943 2.314 10.575 6.05 33.572-4.073 37.834-10.261 4.32-10.05-23.193-9.438-35.757-1.369-.123-2.266-.481-2.398-1.146-.114-.565-.477-3.122-1.001-7.02-.868.135-1.767.274-2.725.42l-.59.088c8.828 27.768-10.723 101.412-14.484 115.827-1.965 7.532-4.084 26.157-5.995 45.003h86.121C874.2 604 938 540.2 938 462.22V141.78C938 63.8 874.2 0 796.22 0Z"/>
							<ellipse cx="210" cy="169" fill="#3f3d56" rx="95" ry="86.45"/>
							<path fill="#ffb9b9" d="M366.5 451.5s32-22 32-32 22-75 34-46-17 70-17 70-32 58-51 68-35 4-35 4v-27l18.282-27.057A22.59 22.59 0 0 1 366.5 451.5Z"/>
							<path fill="#575a89" d="M275.544 298.336S323.5 313.5 328.5 320.5s7-5 21 41S367 452 367 452s-34.5 11.5-30.5 56.5-6 94-6 94h-12.484l-27.516-85 33-129s-46.913-79.327-47.956-90.164Z"/>
							<circle cx="259.5" cy="196.5" r="60" fill="#ffb9b9"/>
							<path fill="#ffb9b9" d="M282.5 241.5s-17 56-2 64 32 44 32 44l-26 29h-60l-27-30-11-51 15-12s16-40 16-61 63 17 63 17Z"/>
							<path fill="#172236" d="M287.5 303.5s-12-3-5 9 14 34-11 35-50-12-58-39-11-25-14-24-35 34-35 34l11 62 4 222h146s6-64-4-79 9-53 9-53 17-26 4-76-42-91-47-91Z"/>
							<path fill="#575a89" d="M206.5 284.5s-15-7-28 5-42 22-42 28 25 177 8 207-35 78-35 78h83.413s13.587-50 27.587-77 13-103 9-126-23-115-23-115Z"/>
							<path fill="#ffb9b9" d="m118.5 549.5 4.87 53h54.047l-4.917-66-54 13z"/>
							<path fill="#3f3d56" d="m364.5 521.5 13 81h289l25-163-327 82z"/>
							<path fill="#3f3d56" d="m702.5 428.5 3 15-374 90v-13l371-92z"/>
							<path fill="#3f3d56" d="m544.5 455.5-2 17 22-3-9-17-11 3z"/>
							<path fill="none" stroke="#3f3d56" stroke-miterlimit="10" stroke-width="5" d="M423.5 283.5s44-3 56 31 40 95 51 104 23 33 21 41"/>
							<path fill="#172236" d="M430 283c0 4.694-4.992 8.5-13 8.5s-12-3.806-12-8.5 3.992-8.5 12-8.5 13 3.806 13 8.5Z"/>
							<path fill="#575a89" d="M356 439s7.5-31.5-6.5-77.5-16-34-21-41-52.956-22.164-52.956-22.164c.343 3.561 5.638 14.517 12.595 27.624a53.193 53.193 0 0 0-5.639-13.46c-7-12 5-9 5-9 5 0 34 41 47 91s-4 76-4 76Z"/>
							<path fill="#575a89" d="M276 298s5.92 22.458 10.96 25.729 34.93 34.325 34.93 34.325L318 333l-16-24-4.256-3.088Z"/>
							<path d="m143 367 1.394-51.5s-32.894 14-35.894 74 5 173 16 174 63-11 63-11 8-145 5-164S143 367 143 367Z" opacity=".1"/>
							<path fill="#575a89" d="M145.5 315.5h-8.106s-32.894 14-35.894 74 5 173 16 174 63-11 63-11 8-145 5-164-40-73-40-73Z"/>
							<ellipse cx="188" cy="180.5" fill="#3f3d56" rx="62" ry="69.5"/>
							<ellipse cx="232.5" cy="218.5" fill="#ffb9b9" rx="12.5" ry="18.5"/>
							<circle cx="126" cy="111" r="51" fill="#3f3d56"/>
							<path fill="#3f3d56" d="M132.592 151.857a50.996 50.996 0 0 1-73.893-40.613 50.995 50.995 0 1 0 101.176 2.838 50.921 50.921 0 0 1-27.283 37.775Z"/>
							<path fill="#3f3d56" d="M98.02 119.43a50.996 50.996 0 0 1 25.683-80.312 50.994 50.994 0 1 0 16.625 99.84A50.921 50.921 0 0 1 98.02 119.43Z"/>
							<ellipse cx="263" cy="150" fill="#3f3d56" rx="36" ry="26"/>
						</svg>

						<p class="fs-3 mt-2 pd-0 text-center">Your meeting is still listed as in progress but the transcription has been stopped.</p>
						<p class="fw-light">You can continue transcribing it or end it here.</p>
						<div class="d-flex flex-row gap-2">
							<button class="btn btn-primary py-2 mt-2" id="startTranscription">Continue your meeting</button>
							<button class="btn btn-danger py-2 mt-2" data-bs-toggle="modal" data-bs-target="#{{ meeting.id|trim('1234567890', 'left')|lower }}-end-modal">End your meeting</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


<div class="modal fade" tabindex="-1" id="{{ meeting.id|trim('1234567890', 'left')|lower }}-qrcode-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content rounded-3 shadow">
			<div class="modal-body p-4 text-center">
				<h5 class="mb-0" id="{{ meeting.id|trim('1234567890', 'left')|lower }}-qrcode-modal">QR Code for
					{{ meeting.name }}</h5>
				<div id="qrcode-{{ meeting.id|trim('1234567890', 'left')|lower }}" class="d-flex flex-column">
					<img src="{{ qr_code_url('readthevoice://'~ meeting.id, 'readthevoice') }}"/>
					<a class="btn btn-primary" onclick="this.href = document.querySelector('#qrcode-{{ meeting.id|trim('1234567890', 'left')|lower }} img').src;" type="button" download="readthevoice-{{ meeting.name }}.png">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewbox="0 0 16 16">
							<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
							<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
						</svg>
						Download QR Code</a>
				</div>
			</div>
			<div class="modal-footer flex-nowrap p-0 justify-content-center">
				<button type="button" class="btn btn-lg fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" tabindex="-1" id="{{ meeting.id|trim('1234567890', 'left')|lower }}-about-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content rounded-3 shadow">
			<div class="modal-body p-4">
				<h5 class="mb-2 text-center" id="{{ meeting.id|trim('1234567890', 'left')|lower }}-about-modal">About the meeting
					{{ meeting.name }}</h5>
				<p class="mb-0 text-start">
					<ul>
						<li>Name:
							{{ meeting.name }}</li>
						<li>Description:
							{{ meeting.description }}</li>
						<li>Language:
							{{ meeting.language }}</li>
						<li>Creation date:
							{{ meeting.createdAtString }}</li>
						<li>Scheduled date:
							{{ meeting.scheduledDateString }}</li>
						{% if meeting.endDate != null %}
							<li>End date:
								{{ meeting.endDateString }}</li>
						{% endif %}
						{% if meeting.deletionDate %}
							<li>Deletion date:
								{{ meeting.deletionDateString }}</li>
						{% endif %}
						<li>
							Is transcription accessible after the end of the meeting:
							{{ meeting.isTranscriptAccessibleAfter ? 'Yes' : 'No' }}</li>
						<li>
							Allow donwload:
							{{ meeting.allowDownload ? 'Yes' : 'No' }}</li>
					</ul>
				</p>

			</div>
			<div class="modal-footer flex-nowrap p-0 justify-content-center">
				<button type="button" class="btn btn-lg fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" tabindex="-1" id="{{ meeting.id|trim('1234567890', 'left')|lower }}-delete-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content rounded-3 shadow">
			<div class="modal-body p-4 text-center">
				<h5 class="mb-0" id="{{ meeting.id|trim('1234567890', 'left')|lower }}-delete-modal">Delete
					{{ meeting.name }}</h5>
				<p class="mb-0">Are you sure you want to delete this transcription?

				</p>
			</div>
			<div class="modal-footer flex-nowrap p-0">
				<a class="btn btn-lg btn-danger fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 fw-bold border-end" data-bs-dismiss="modal" href="{{ path('app_dashboard_transcriptions_delete', {transcriptionId: meeting.id}) }}">Yes, delete</a>
				<button type="button" class="btn btn-lg fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" tabindex="-1" id="{{ meeting.id|trim('1234567890', 'left')|lower }}-end-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content rounded-3 shadow">
			<div class="modal-body p-4 text-center">
				<h5 class="mb-0" id="{{ meeting.id|trim('1234567890', 'left')|lower }}-end-modal">End transcription
					{{ meeting.name }}</h5>
				<p class="mb-0">Are you sure you want to end this transcription?
					{% if not meeting.isTranscriptAccessibleAfter %}
						<br><span class="fw-bolder">You have configured this meeting so that the transcript is deleted after the meeting has ended!</span>
					{% endif %}
				</p>
			</div>
			<div class="modal-footer flex-nowrap p-0">
				<a class="btn btn-lg btn-danger fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 fw-bold border-end" data-bs-dismiss="modal" href="{{ path('app_dashboard_transcriptions_end', {transcriptionId: meeting.id, redirectToMeeting: true}) }}">Yes, end</a>
				<button type="button" class="btn btn-lg fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
{% if not meeting.isFinished %}
	<script>
		(() => {

let mediaRecorder = null;
let socket = null;

document.getElementById('startTranscription').addEventListener('click', async () => {
try {
const stream = await navigator.mediaDevices.getUserMedia({audio: true});
mediaRecorder = new MediaRecorder(stream);
socket = new WebSocket(`ws://{{ transcription_service_host }}:{{ transcription_service_port }}/transcribe?meeting_id={{ meeting.id }}&language={{ meeting.language }}&token={{ app.request.cookies.get('token') }}`);

socket.onopen = () => {
document.getElementById('meeting-recording').style.display = 'block';
document.getElementById('meeting-transcription').style.display = 'none';
document.getElementById('meeting-in-recording').style.display = 'flex';
document.getElementById('meeting-pause-recording').style.display = 'none';

mediaRecorder.addEventListener('dataavailable', async (event) => {
if (event.data.size > 0 && socket.readyState === WebSocket.OPEN) {
socket.send(event.data);
}
});
mediaRecorder.start(250);
};

let meetingTranscriptionData = document.getElementById('meeting-transcription-data');
let dashboard = document.getElementById('dashboard');

socket.onmessage = (message) => {

const received = message.data;
if (received) {
meetingTranscriptionData.textContent = received;
dashboard.scrollTop = meetingTranscriptionData.scrollHeight;
}
};

socket.onerror = (error) => console.log({event: 'onerror', error});
} catch (error) {
console.error(error);
}
});

document.getElementById('stopTranscription').addEventListener('click', async () => {
if (mediaRecorder && mediaRecorder.state !== 'inactive') {
mediaRecorder.stop();
mediaRecorder.stream.getTracks().forEach(track => track.stop());
}

document.getElementById('meeting-in-recording').style.display = 'none';
if (document.getElementById('meeting-transcription-data').textContent.length > 0) {
document.getElementById('meeting-pause-recording').style.display = 'flex';
} else {
document.getElementById('meeting-transcription').style.display = 'block';
}
});

})();
	</script>
{% endif %}{% endblock %}
